:root {
  --grid-gap: 0.4em;
  --btn-padding: 0.5em;
  --btn-border-radius: 3em;
}

.grid {
  display: grid;
}

#calculator-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

#calculator__title {
  font-weight: 400;
  font-style: italic;
}

#calculator__title span {
  font-weight: 600;
  font-style: normal;
  text-shadow: 0.4em 0.4em 3px #00000030;
}

#calculator {
  background-color: #3b3b3b;
  grid-template-rows: 1fr 5fr;
  width: 315px;
  max-width: 315px;
  max-height: 480px;
  font-size: 1.5em;
  gap: var(--grid-gap);
  padding: var(--btn-padding);
  border-radius: 1.8em;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  box-shadow: 2em 2em 1em #00000030;
  position: relative;
}

#calculator__display {
  background-color: #858693;
  justify-content: end;
  font-size: 2em;
  border-radius: 0.6em;
  padding: 0.3em;
  vertical-align: middle;
  font-family: inherit;
  overflow: hidden;
}

#calculator__keypad {
  gap: var(--grid-gap);
  grid-template-columns: repeat(4, 1fr);
  font-family: inherit;
}

#calculator__grey-btns-container {
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 4;
  gap: var(--grid-gap);
  font-family: inherit;
}

#calculator__orange-btns-container {
  grid-column: 4 / 5;
  gap: var(--grid-gap);
  font-family: inherit;
}

#calculator__display,
.calculator__grey-btn,
.calculator__orange-btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.calculator__grey-btn,
.calculator__orange-btn {
  border: 0;
  border-radius: var(--btn-border-radius);
  padding: var(--btn-padding);
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-size: inherit;
  font-family: inherit;
}

.calculator__grey-btn {
  background-color: #e0e0e0;
}

.calculator__orange-btn {
  background-color: #f5913e;
}

button[name='0'] {
  grid-column: 1 / 3;
}

#calculator button:active {
  box-shadow: 0 0 0 0 #fff;
  opacity: 0.7;
}
