header {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1em 2em;
  padding-right: 10%;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 3em;
}

#header__logo {
  font-weight: 400;
  text-shadow: 0.4em 0.4em 3px #00000030;
}

#header__logo span {
  font-style: italic;
}

#header__nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1em;
}

.header__nav-item {
  line-height: 2em;
  position: relative;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  transition: all 0.15s;
}

.header__nav-item:hover {
  right: 0.2em;
  bottom: 0.2em;
  text-shadow: 0.6em 0.6em 3px #00000030;
}

.header__nav-item a {
  border-bottom: 2px solid transparent;
}

.header__nav-item:hover a {
  border-bottom: 2px solid #000;
  box-shadow: 0 3px 3px -2px #00000030;
}

.grid {
  display: grid;
}
