#home {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
}

#home__title {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1em;
}

.home__body-text {
  text-indent: 1.3em;
  font-size: 1.3em;
  margin-bottom: 1em;
}
