@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');

#quote__container {
  width: 50%;
  min-width: 300px;
  margin: 0.5em auto;
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}

#quote {
  font-family: inherit;
  font-style: italic;
  text-align: end;
  font-size: 1.8em;
}

#quote__author {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  line-height: 2.3em;
}

#quote__loading,
#quote__error {
  font-family: inherit;
  text-align: center;
}
